/* ✅ Always put font import at top */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

/* ✅ Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* --font-sans: "Poppins", sans-serif; */
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: var(--font-mono);
  width: 100vw;
  height: 100vh;
  /* background-color: #f1f5ff8c; */
  background-color: white;
  overflow-x: hidden;
}

*::-webkit-scrollbar{
  display: none;
}


