$filter-box-title-size: 16px;
$filter-remove-all-text-size: 14px;
$filter-size-text-size: 12px;
$filter-box-title-weight: 600;

$filter-remove-all-icon-size: 20px;
$filter-addorremove-icon-size: 13px;

$filter-box-color-size-box-size_h: 25px;
$filter-box-color-size-box-size_w: 25px;

$filter-price-box-prince-range-color: #2196f3;